@import url('https://fonts.googleapis.com/css?family=Boogaloo');

:root {
    --font-family: Arial, sans-serif;
}

html:has(> head > link[href][data-loaded]) * {
    transition-property: background, background-color, color, border-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

body {
    font-family: var(--font-family);
    font-size: 1em;
    background: #f4f4f4;
    margin: auto;
    padding: 0;
    max-width: 800px;
    color: #333;
}

dialog {
    font-family: var(--font-family);
    font-size: 1em;
}

body:has(dialog[open]) {
    overflow: hidden;
}

header {
    background: #6441a5;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: gray 0px 0px 4px, gray 2px 2px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

h2 {
    text-shadow: gray 0px 0px 4px, gray 2px 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.summary {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.card,
.details {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 220px;
}

.card {
    text-align: center;
}

.details {
    width: 550px;
    height: 650px;
}

.details#subgifts-details {
    width: 650px;
}

.details#all-supports {
    width: 800px;
}

dialog.details::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.details {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.details h2 {
    text-align: center;
}

.details table {
    width: 100%;
    border-collapse: collapse;
}

.details th,
.details td {
    padding: 0.5rem;
    text-align: left;
    height: 1rem;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.details table th.rownum,
.details table td.rownum,
.details table th.amount,
.details table td.amount,
.details table th.t1,
.details table td.t1,
.details table th.t2,
.details table td.t2,
.details table th.t3,
.details table td.t3,
.details table th.subs,
.details table td.subs,
.details table th.bits,
.details table td.bits,
.details table th.donations,
.details table td.donations,
.details table th.points,
.details table td.points,
.details table td.reached-at {
    text-align: right;
}

.details table th.rownum {
    cursor: not-allowed;
}

.details table th {
    cursor: pointer;
    user-select: none;
}

.details tbody tr:last-child td {
    border-bottom: none;
}

.details span.table-loading
{
display: none;
}

.details[data-loading] span.table-loading {
    display: inline-block;
    width: calc(100% - 2rem);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 0;
    height: 2em;
}

.card p {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.leaderboards-header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leaderboards-header {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
}

.leaderboards-header-container button {
    margin: 0rem 1rem 0.5rem 0rem;
}

.leaderboards {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.leaderboard {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.leaderboard h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
    padding: 0.5rem;
    text-align: left;
    height: 1rem;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.leaderboard thead tr th:last-child,
.leaderboard tbody tr td:last-child {
    width: 30%;
    text-align: right;
}

.leaderboard tbody tr:last-child td {
    border-bottom: none;
}


.events {
    padding: 1rem;
}

.events table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.events th,
.events td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: bold;
}

.events th.amount,
.events td.amount,
.events th.points,
.events td.points {
    text-align: right;
}

.events.expanded tbody tr {
    display: table-row;
}

.events button {
    margin-bottom: 0.5rem;
}

.events:not(.expanded) tbody tr:nth-child(n+11) {
    display: none;
}

.events.expanded button.fold-in {
    margin-top: 0.5rem;
}

.events:not(.expanded) button.fold-in {

    display: none;
}

button {
    background: #6441a5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-family);
}

button:hover:not(:disabled) {
    background: #4b2c91;
}

button:disabled {
    filter: grayscale();
    cursor: not-allowed;
}